@import "tailwindcss";

@utility container {
  padding: 1.2rem;
  center: true;
}

@theme {
  --color-primary: #00d991;
}

/* ------------For dark mode--------- */

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  background-color: #171923;
  color: #f7fafc;
}

/* ------------For dark mode Ends--------- */
