@import "tailwindcss";

/* For dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* --------------below CSS----------------- */

@utility container {
  padding: 1.2rem;
  center: true;
}

@theme {
  --color-primary: #00d991;
}


@theme .dark {
  @apply {
    bg-[#171923] text-[#f7fafc]
  }
}